* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.main-heading {
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 75px;
  color: yellowgreen;
  text-shadow: 1px 2px 3px steelblue ;
}
.anchors {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  font-size: larger;
}

.anchors > a {
  color: violet;
  text-decoration: none;
  padding-left: 15px;
  margin-left: 10px;
  font-size: larger;
}

.alphabets {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 35%;
  align-items: center;
  text-align: center;
  box-shadow: 8px 8px 4px yellow;
}

.anchors > a:hover {
  color: turquoise;
}

.main-heading:hover {
  color: tomato;
}

button {
  width: 250px;
  height: 125px;
  color: teal;
  background-color: tan;
  border: 1px double black;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  position:fixed;
  top: 100px;
  right: 50px;
}

.btn
{
  border-radius: 100px;
}

.btn > a{
  text-decoration: none;
  color: teal;
}